<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.phonegap.example"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>ECLC</name>

  <description>
      An electric current load calculation app.
  </description>

  <author href="https://shrichenterprises.com" email="ritsard_marzan@yahoo.com">
      Sir Richard O. Marzan
  </author>
  
  <icon src="eclc00 64x64.png" />

</widget>
